<footer>
  <section>
    <p style="padding: 10px">skip to page</p>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  </section>
  <p>Copyright &copy; 2022 www.theparagraph.com</p>
</footer>
