<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>HOME| The Paragraph</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <h1><span>The</span> Paragraph</h1>
        </div>
        <nav>
          <a href="index.html">HOME</a>
          <a href="create.html">CREATE</a>
          <a href="#">CONTACT</a>
        </nav>
      </header>

      <main>
        <h1>Welcome to The Paragraph</h1>
        <p>Click create to create first post</p>
        <!-- <ul>
          <% articles.forEach(article => { %>
          <h1>
            <%= article.title %> <a href="/edit/<%= article._id %>">Edit</a>
            <a href="/delete/<%= article._id %>">Delete</a>
          </h1>
          <p><%= article.content %></p>
          <% }); %>
        </ul> -->
      </main>

      <aside class="">
        <h3>About</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
          et, doloribus? Iure vitae quis officiis atque, alias vel id doloribus
          nam delectus inventore. Sit doloremque quod alias? Nostrum, impedit,
          reprehenderit!
        </p>

        <h3>Recent Posts</h3>
        <ul>
          <li><a href="#">Blog Post #5</a></li>
          <li><a href="#">Blog Post #4</a></li>
          <li><a href="#">Blog Post #3</a></li>
          <li><a href="#">Blog Post #2</a></li>
          <li><a href="#">Blog Post #1</a></li>
        </ul>
      </aside>

      <footer>
        <section>
          <p style="padding: 10px">skip to page</p>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </section>
        <p>Copyright &copy; 2022 www.theparagraph.com</p>
      </footer>
    </div>
    <script src="index.js"></script>
  </body>
</html>
