* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1, h2, h4, h5, h6 {
  padding: 10px 20px 10px 20px;
}


/*The div that encloses everything*/
.container {
  max-width: 900px;
  margin: auto;
  border-left: 1px solid #091057;
  border-right: 1px solid #091057;
}

header {
  background-color: #091057;
  display: flex;
  justify-content: space-between;

}

header .logo h1 {
  color: #fff;
}

header .logo h1 span {
  color: blue;
}

header nav {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

header nav a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

header nav a:hover {
  color: cyan;
}

section {
  padding: 20px;
}

main {
  float: left;
  width: 70%;
  padding: 15px;
}

main p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0 20px 0 20px;
}

aside {
  float: right;
  width: 25%;
  padding: 5px;
}

aside h3 {
  margin-top: 20px;
}

aside p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0 20px 0 20px;
}

aside ul {
  padding: 0 20px 0 20px;
}

aside ul li {
  font-size: 1.1rem;
  line-height: 1.6rem;
  list-style: none;
}

aside ul li a:hover {
  color: #7FA1C3;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #091057;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

footer p {

  color: white;
  padding: 0 10px 25px 10px;
}

footer a {
  color: white;
  padding: 0 10px 0 10px;

}

footer a:hover {
  color: cyan;
}

/* Create Page */
form {
  margin: 0 20px 10px 20px;
}

h1.form {
  color: #091057;
  padding: 15px 0;
}

.form-input {
  margin: 8px 0;
}

.label {
  width: 75px;
  padding: 4px 0;
}

label textarea {
  vertical-align: top;
}

textarea, input {
  padding: 5px;
}

textarea:focus, input:focus {
  outline: none;
}

textarea {
  font-family: sans-serif;
}

button {
  padding: 2px 4px;
  background-color: #091057;
  color: #fff;
  display: flex;
  align-items: start;
}

@media screen and (max-width: 480px) {
  main {
    float: none;
    width: 100%;
  }

  aside {
    float: none;
    width: 100%;
  }
}