<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header'); %>
      <form action="/" method="post">
        <h1 class="form">Create Post</h1>
        <div class="form-input">
          <div class="label"><label for="title">Title: </label></div>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Title"
          /><br />
        </div>
        <div class="form-input">
          <div class="label"><label for="content">Content:</label></div>
          <textarea
            placeholder="Start writing"
            id="content"
            name="content"
            style="height: 200px; width: 80%"
          ></textarea>
        </div>
        <br />
        <button type="submit">Submit</button>
      </form>

      <%- include('../partials/footer'); %>
    </div>
    <script src="index.js"></script>
  </body>
</html>
